.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */

.custom-bg {
    background-color: #0E0A2A;
}

.custom-card {
    margin: 10px;
}

.custom-card:hover {
    background-color: orange !important;
    box-shadow: 2px 2px 10px orangered;
    margin-top: 5px !important;
    transition: 0.5s;
}

.home-banner {
    height: 250px;
    background-image: url('./assets/banner.jpg');
}

.custom-banner {
    width: 100%;
    height: 350px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
    opacity: 0.6;
    transition: .3s ease;
    background-color: black;
    z-index: -1;
}

.custom-logo {
    width: 35%;
    margin-top: -350px;
    z-index: 9;
}

.conditional-image {
    width: 100%;
}

.custom-icon {
    width: 75px;
    height: 75px;
}